* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Write your CSS code here */
.app-container {
  background-color: #ffffff;
  padding: 100px;
}
.responsive-container {
  background-color: #ffffff;
  border: 5px solid #6d396b;
  border-radius: 20px;
  padding: 20px;
}
@media screen and (max-width: 768px) {
  .app-container {
    padding: 20px;
  }
}
@media screen and (max-width: 576px) {
  .app-container {
    padding: 10px;
  }
  .responsive-container {
    padding: 10px;
  }
}
